.calc-main {
  height: 100%;
}

.calc-display {
  padding: 60px 15px 20px;
  text-align: right;
}

.button,
.specialButton {
  margin: 0.2rem;
  padding: 1.5rem;
  border-radius: 15px;
  --minFontSize: 10px;
  --maxFontSize: 60px;
  --scaler: 4vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(58, 58, 58);
}

.specialButton {
  color: rgb(255, 255, 255);
  background-color: var(--blue-color);
}
